@font-face{
    font-family: 'Lato';   
    src: url('assets/fonts/Lato-regular.ttf');
}

@font-face{
    font-family: 'Lato-Light';   
    src: url('assets/fonts/Lato-Light.ttf');
}

@font-face{
    font-family: 'Lato-Bold';   
    src: url('assets/fonts/Lato-Bold.ttf');
}

@font-face{
    font-family: 'Lato-Black';   
    src: url('assets/fonts/Lato-Black.ttf');
}

@media screen and (min-width: 1020px){

    body{
        width: 1020px;
        margin: 0 auto;
        padding: 0px;
    }

    html {
        scroll-behavior: smooth;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    .header{
        position: sticky;
        top: 0;
        z-index: 50;
        height: 89px;
        background-color: #2d303a;
        border-bottom: 6px solid #323746;
        color: #ffffff;
        width: 100%;
        margin: auto;
    }

    .container-header{
        width: 940px;
        height: inherit;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #2d303a;
        align-items: center;
        margin: auto;
    }

    .logo{
        font-size: 25px;
        text-transform: uppercase;
        letter-spacing: -0.4px;
        font-family: 'Lato-Light', sans-serif;
        font-weight: 700;
    }

    .logo-star{
        color: #f06c64;
        font-family: 'Lato-Light', sans-serif;
    }

    .navigation{
        padding-top: 10px;
        margin: 0px;
    }

    #menu__toggle {
        display: none;
    }

    .header-navigation li{
        display: inline-block;
        padding-left: 30px;
        font-size: 12px;
        line-height: 6px;
        text-transform: uppercase;
        letter-spacing: -0.88px;
        font-family: 'Lato-Light', sans-serif;
        font-weight: 700;
    }

    .header-navigation li:not(:first-child)::before {
        content: ".";
        position: relative;
        bottom: 3px;
        left: -14px;
        font-weight: 400;
        font-size: 19px;
        font-family: 'Lato', sans-serif;
        color: #494e62;
    }

    .navigation-link.active{
        color: #f06c64;
    }

    .navigation-link:hover{
        cursor: pointer;
        color: #f06c64;
    }

    .nav-logo{
        text-transform: uppercase;
        position: absolute;
        width: 92px;
        height: 24px;
        left: 71px;
        top: 24px;  
        font-family: 'Lato-bold';   
        font-size: 19.6875px;
        line-height: 24px;
        letter-spacing: -0.03em;
        visibility: hidden;
    }
}

    @media screen and (min-width: 768px) and (max-width: 1019px){
    
        body{
            max-width: 1019px;
            margin: 0 auto;
            padding: 0px;
        }
    
        html {
            scroll-behavior: smooth;
        }
    
        a {
            color: inherit;
            text-decoration: none;
        }
    
        .header{
            position: sticky;
            top: 0;
            z-index: 50;
            height: 89px;
            background-color: #2d303a;
            border-bottom: 6px solid #323746;
            color: #ffffff;
            max-width: 1019px;
            margin: auto;
        }
    
        .container-header{
            max-width: 90%;
            height: inherit;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: #2d303a;
            align-items: center;
            margin: 0 5%;
        }
    
        .logo{
            font-size: 25px;
            text-transform: uppercase;
            letter-spacing: -0.4px;
            font-family: 'Lato-Light', sans-serif;
            font-weight: 700;
        }
    
        .logo-star{
            color: #f06c64;
            font-family: 'Lato-Light', sans-serif;
        }
    
        .navigation{
            padding-top: 10px;
            margin: 0px;
        }

        #menu__toggle {
            display: none;
        }

        .header-navigation li{
            display: inline-block;
            padding-left: 30px;
            font-size: 12px;
            line-height: 6px;
            text-transform: uppercase;
            letter-spacing: -0.88px;
            font-family: 'Lato-Light', sans-serif;
            font-weight: 700;
        }
    
        .header-navigation li:not(:first-child)::before {
            content: ".";
            position: relative;
            bottom: 3px;
            left: -14px;
            font-weight: 400;
            font-size: 19px;
            font-family: 'Lato', sans-serif;
            color: #494e62;
        }
    
        .navigation-link.active{
            color: #f06c64;
        }
    
        .navigation-link:hover{
            cursor: pointer;
            color: #f06c64;
        }

        .nav-logo{
            text-transform: uppercase;
            position: absolute;
            width: 92px;
            height: 24px;
            left: 71px;
            top: 24px;  
            font-family: 'Lato-bold';   
            font-size: 19.6875px;
            line-height: 24px;
            letter-spacing: -0.03em;
            visibility: hidden;
        }
    }

    @media screen and (min-width: 375px) and (max-width: 767px){
        body{
            max-width: 767px;
            margin: 0 auto;
            padding: 0px;
        }
    
        html {
            scroll-behavior: smooth;
        }
    
        a {
            color: inherit;
            text-decoration: none;
        }
    
        .header{
            position: sticky;
            top: 0;
            z-index: 50;
            height: 68px;
            background-color: #2d303a;
            border-bottom: 4px solid #323746;
            color: #ffffff;
            max-width: 767px;
            margin: auto;
        }
    
        .container-header{
            max-width: 90%;
            height: inherit;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: #2d303a;
            align-items: center;
            margin: 0 5%;
        }
    
        .logo{
            font-size: 25px;
            text-transform: uppercase;
            letter-spacing: -0.4px;
            font-family: 'Lato-Light', sans-serif;
            font-weight: 700;
            margin: 0 40%;
        }
    
        .logo-star{
            color: #f06c64;
            font-family: 'Lato-Light', sans-serif;
        }
    
        .navigation{
            padding-top: 10px;
            margin: 0px;
        }

        /* скрываем чекбокс */
        #menu__toggle {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }
        /* стилизуем кнопку */
        .menu__btn {
            display: flex;
            align-items: center;
            position: fixed;
            top: 26px;
            left: 20px;
            width: 25px;
            height: 20px;
            cursor: pointer;
            z-index: 1;
        }
        /* добавляем "гамбургер" */
        .menu__btn > span,
        .menu__btn > span::before,
        .menu__btn > span::after {
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #FFFFFF;
        }
        .menu__btn > span::before {
            content: '';
            top: -8px;
        }
        .menu__btn > span::after {
            content: '';
            top: 8px;
        }

        /* контейнер меню */
        .navigation {
            display: block;
            position: fixed;
            visibility: hidden;
            top: 0;
            left: -100%;
            width: 238px;
            height: 100%;
            margin: 0;
            padding: 232px 0 0 41px;
            list-style: none;
            text-align: left;
            background-color: #2D303A;;
            box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
        }
        /* элементы меню */
        .navigation-link {
            display: block;
            padding: 12px 24px;
            color: #FFFFFF;
            font-family: 'Lato-Bold', sans-serif;
            font-size: 24px;
            line-height: 29px;
            text-transform: uppercase;
            letter-spacing: -0.035em;
            text-decoration: none;
        }

        #menu__toggle:checked ~ .menu__btn > span {
            transform: rotate(90deg);
        }
        #menu__toggle:checked ~ .menu__btn > span::before {
            transform: rotate(0);
        }
        #menu__toggle:checked ~ .navigation {
            visibility: visible;
            left: 0;
        }
        #menu__toggle:checked ~ .shadow{
            visibility: visible;
            right: 0;
        }

        #menu__toggle:checked ~ .nav-logo{
            visibility: visible;
            top: 24px;
        }

        .menu__btn > span,
        .menu__btn > span::before,
        .menu__btn > span::after {
            transition-duration: .25s;
        }
        .navigation {
            transition-duration: .25s;
        }
        .navigation-link {
            transition-duration: .25s;
        }

        .nav-logo{
            transition-duration: .25s;
        }
    
        .navigation-link.active{
            color: #f06c64;
        }
    
        .navigation-link:hover{
            cursor: pointer;
            color: #f06c64;
        }

        .nav-logo{
            text-transform: uppercase;
            position: absolute;
            width: 92px;
            height: 24px;
            left: 71px;
            top: -30px;  
            font-family: 'Lato-bold';   
            font-size: 19.6875px;
            line-height: 24px;
            letter-spacing: -0.03em;
            visibility: hidden;
        }

        .shadow{
            width: calc(100% - 279px);
            height: 100%;
            opacity: 0.6;
            background-color: #000;
            position: fixed;
            top: 0;
            right: calc(279px - 100%);
            transition: right 0.25s cubic-bezier(1, 0, 0, 1);
            visibility: hidden;
        }
    }