@font-face{
    font-family: 'Lato';   
    src: url('assets/fonts/Lato-regular.ttf');
}

@font-face{
    font-family: 'Lato-Light';   
    src: url('assets/fonts/Lato-Light.ttf');
}

@font-face{
    font-family: 'Lato-Bold';   
    src: url('assets/fonts/Lato-Bold.ttf');
}

@font-face{
    font-family: 'Lato-Black';   
    src: url('assets/fonts/Lato-Black.ttf');
}

@media screen and (min-width: 375px) and (max-width: 767px){
    body{
        max-width: 767px;
        margin: 0 auto;
        padding: 0px;
    }

    html {
        scroll-behavior: smooth;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    .header{
        position: sticky;
        top: 0;
        z-index: 50;
        height: 68px;
        background-color: #2d303a;
        border-bottom: 4px solid #323746;
        color: #ffffff;
        max-width: 767px;
        margin: auto;
    }

    .container-header{
        max-width: 90%;
        height: inherit;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #2d303a;
        align-items: center;
        margin: 0 5%;
    }

    .logo{
        font-size: 25px;
        text-transform: uppercase;
        letter-spacing: -0.4px;
        font-family: 'Lato-Light', sans-serif;
        font-weight: 700;
        margin: auto;
    }

    .logo-star{
        color: #f06c64;
        font-family: 'Lato-Light', sans-serif;
    }

    .navigation{
        padding-top: 10px;
        margin: 0px;
    }

    #menu__toggle {
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
    }
    
    .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 26px;
        left: 20px;
        width: 25px;
        height: 20px;
        cursor: pointer;
        z-index: 1;
    }
    
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #FFFFFF;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }

    .navigation {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 238px;
        height: 100%;
        margin: 0;
        padding: 232px 0 0 41px;
        list-style: none;
        text-align: left;
        background-color: #2D303A;;
        box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
    }
    
    .navigation-link {
        display: block;
        padding: 12px 24px;
        color: #FFFFFF;
        font-family: 'Lato-Bold', sans-serif;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        letter-spacing: -0.035em;
        text-decoration: none;
    }

    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
        transform: rotate(0);
    }
    #menu__toggle:checked ~ .navigation {
        visibility: visible;
        left: 0;
    }
    #menu__toggle:checked ~ .shadow{
        visibility: visible;
        right: 0;
    }

    #menu__toggle:checked ~ .nav-logo{
        visibility: visible;
        top: 24px;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        transition-duration: .25s;
    }
    .navigation {
        transition-duration: .25s;
    }
    .navigation-link {
        transition-duration: .25s;
    }

    .nav-logo{
        transition-duration: .4s;
    }

    .navigation-link.active{
        color: #f06c64;
    }

    .navigation-link:hover{
        cursor: pointer;
        color: #f06c64;
    }

    .nav-logo{
        text-transform: uppercase;
        position: absolute;
        width: 92px;
        height: 24px;
        left: 71px;
        top: -30px;  
        font-family: 'Lato-bold';   
        font-size: 19.6875px;
        line-height: 24px;
        letter-spacing: -0.03em;
        visibility: hidden;
    }

    .shadow{
        width: calc(100% - 279px);
        height: 100%;
        opacity: 0.6;
        background-color: #000;
        position: fixed;
        top: 0;
        right: calc(279px - 100%);
        transition: right 0.25s cubic-bezier(1, 0, 0, 1);
        visibility: hidden;
    }

    .innactive{
        display: none;
    }

    #wraper{
        max-width: 767px;
        margin: auto;
    }

    .slider{
        max-width: 767px;
        height: 218.38px;
        border-bottom: 4px solid #ea676b;
        position: relative;
    }

    .container-slider{
        overflow: hidden;
        height: 218.38px;
        max-width: 767px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .slider-control-left{
        transform: scale(0.75);
        position: absolute;
        top: 50%;
        left: 5%;
        z-index: 2;
    }
    .slider-control-right{
        transform: scale(0.75);
        position: absolute;
        top: 50%;
        right: 5%;
        z-index: 2;
    }

    .slide1-content{
        background-color: #f06c64;
        width: 375px;
        height: inherit;
    }
    
    .slide-1{
        background-color: #f06c64;
        position: absolute;
        height: 218.38px;
        width: 100%;
        z-index: 1;
    }

    .slide-2{
        height: 218.38px;
        width: 100%;
        position: absolute;
        z-index: 1;
    }

    .left-iphone{
        transform: scale(0.3);
        margin-top: -127px;
        margin-left: -26px;
        position: absolute;
    }

    .right-iphone{
        transform: scale(0.3);
        padding-left: 7px;
        position: absolute;
    }

    .offscreen-left{    
        transform: scale(0.3);
        margin-left: -26px;
        margin-top: -126px;
        position: absolute;
    }

    .offscreen-right{
        transform: scale(0.3);
        position: absolute;
        padding-left: 7px;
    }

    .iphones{
        width: 100%;
        height: 218.38px;
    }

    .displayNone{
        display: none;
        visibility: hidden;
    }

    .move-from-left{
        animation-name: bounce-2;
        animation-timing-function: linear;
        animation-duration: 0.5s; 
        z-index: 2;
    }

    .move-from-right{
        animation-name: bounce-1;
        animation-timing-function: linear;
        animation-duration: 0.5s; 
        z-index: 2;
    }

    .slider-control-left:hover{
        cursor: pointer;
        transform: scale(0.9);
    }

    .slider-control-right:hover{
        cursor: pointer;
        transform: scale(0.9);
    }

    .offscreen{
        display: none;
    }

    @keyframes bounce-1 {
        0%   { transform: translateX(+1020PX); }
        100%  { transform: translateX(0); }
    }

    @keyframes bounce-2 {
        0%   { transform: translateX(-1020PX); }
        100%  { transform: translateX(0); }
    }

    .services{
        background-color: #f2f2f2;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 64px;
    }

    .container-services{
        width: 100%;
        height: inherit;
        margin-left: 0px;
        margin-right: 0px;
    }

    .our-services{
        margin: 0px;
        padding-top: 39px;
        color: #666d89;
        font-family: "Lato-Black";
        font-size: 30px;
        font-weight: 900;
        letter-spacing: -0.3px;
        
    }

    .services-description{
        margin: 0px;
        padding-top: 16px;
        font-size: 17px;
        line-height: 30px;
        font-family: "Lato";
        color: #767e9e;
    }

    .layout-6-column-top{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0px;
        padding-top: 28px;
        justify-content: space-between;
    }

    .services-content{
        width: 100%;
    }

    .services-img{
        width: 59px;
        float: left;
        margin-top: 14px;
    }

    .headline{
        font-size: 18px;
        line-height: 18px;
        margin-left: 20px;
        color: #666d89;
        float: left;
        font-family: "Lato-Black";
        text-align: left;
    }

    .headline-description{
        font-size: 12px;
        line-height: 22px;
        width: 220px;
        margin-left: 82px;
        color: #767e9e;
        font-family: "Lato-Bold";
        text-align: justify;
        letter-spacing: -0.2px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .portfolio{
        background-color: #2d303a;
        border-bottom: 6px solid #323746;
        color: #666d89;
    }

    .port-wrapper{
        width: 100%;
        margin: 0 auto;
    }

    .portfolio-container{
        padding: 59px 30px 57px;
    }

    .portfolio-headline{
        margin: 0 0 0 10px;
        padding-top: 20px;
        font-size: 30px;
        line-height: 18px;
        letter-spacing: -0.2px;
        font-family: 'Lato-Black', sans-serif;
        text-align: left;
    }

    .portfolio-description{
        margin: 0 0 0 10px;
        padding-top: 27px;
        font-size: 18px;
        line-height: 30px;
        font-family: 'Lato-Light', sans-serif;
        text-align: left;
        color: #767e9e;
    }

    .portfolio-navigation-container{
        margin: 0 0 0 10px;
        padding-top: 11px;      
    }

    .portfolio-navigation{
        margin: 0;
        padding: 0;
    }

    .portfolio-navigation li{
        display: inline-block;
        padding-right: 6px;
    }

    .portfolio-nav-button{
        border: 1px solid #666d89;
        border-radius: 5px;
        background-color: #2d303a;
        color: #767e9e;
        text-align: justify;
        height: 22px;
        font-family: 'Lato', sans-serif;
        font-size: 12px;
    }

    .portfolio-nav-button.active{
        color: #ffffff;
        border-color: #ffffff;
    }

    .portfolio-nav-button:hover{
        cursor: pointer;
        border-color: #ffffff;
        color: #ffffff;
    }

    .layout-4-column{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .layout-4-column li{
        flex: 1 0 33%;
        margin: 10px;
    }

    .portfolio-content div{
        width: 100%;
        height: 100%;
        cursor: pointer;
        background-size: 100%;
    }

    .portfolio-content-img1{
        background: url(assets/img/1.png) center;
    }
    .portfolio-content-img2{
        background: url(assets/img/2.png) center;
    }
    .portfolio-content-img3{
        background: url(assets/img/3.png) center;
    }
    .portfolio-content-img4{
        background: url(assets/img/4.png) center;
    }
    .portfolio-content-img5{
        background: url(assets/img/5.png) center;
    }
    .portfolio-content-img6{
        background: url(assets/img/6.png) center;
    }
    .portfolio-content-img7{
        background: url(assets/img/7.png) center;
    }
    .portfolio-content-img8{
        background: url(assets/img/8.png) center;
    }
    .portfolio-content-img9{
        background: url(assets/img/9.png) center;
    }
    .portfolio-content-img10{
        background: url(assets/img/10.png) center;
    }
    .portfolio-content-img11{
        background: url(assets/img/11.png) center;
    }
    .portfolio-content-img12{
        background: url(assets/img/12.png) center;
    }

    .layout-4-column div:before {
        content: "";
        float: left;
        padding-top: 85%;
    }


    #portfolio-flex div.active {
        outline: #f06c64 solid 5px;
    }

    .layout-4-column li:nth-child(n+9){
        display:none;
    }

    .about-us{
        background-color: #f2f2f2;
        padding: 52px 40px 75px;
    }

    .about-us-container{
        width: 100%;
        margin: 0;
        height: inherit;
        background-color: #f2f2f2;
    }

    .about-us-headline{
        margin: 0;
        font-family: 'Lato-Black', sans-serif;
        font-size: 30px;
        line-height: 18px;
        text-align: left;
        color: #666d89;
    }

    .about-us-description{
        margin: 0;
        padding-top: 27px;
        font-family: 'Lato', sans-serif;
        font-size: 17px;
        line-height: 30px;
        color: #767e9e; 
    }

    .layout-3-column{
        margin: 0;
        width: 100%;
        padding-top: 20px;
    }

    .about-us-content{
        width: 100%;
    }

    .foto{
        width: 100%;
    }

    .about-us-name{
        margin: 0;
        padding-top: 13px;
        font-family: 'Lato-Black',sans-serif;
        font-size: 18px;
        line-height: 18px;
        color: #666d89;
        letter-spacing: -0.2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .about-us-name-description{
        margin: 0;
        padding-top: 10px;
        font-family: 'Lato',sans-serif;
        font-size: 12px;
        line-height: 22px;
        text-align: justify;
        color: #767e9e;

    }

    .first-name{
        letter-spacing: -0.06px;
    }

    .social-media{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 9px 0 34px;
        width: 152px;
    }

    .social-media img:hover{
        cursor: pointer;
        transform: scale(1.2);
    }

    .get-a-quote{
        background-color: #f06c64;
        border-bottom: 6px solid #ea676b;
        margin: auto;
    }

    .get-a-quote-container{
        height: inherit;
        background-color: #f06c64;
        color: #f0d8d9;
        margin-left: 40px;
        margin-right: 40px;   
    }

    .get-a-quote-headline{
        margin: 0px;
        padding-top: 69px;
        font-size: 30px;
        line-height: 18px;
        letter-spacing: -0.2px;
        font-family: 'Lato-Black', sans-serif;
        text-align: left;
    }

    .get-a-quote-description{
        margin: 0px;
        padding-top: 26px;
        font-size: 17px;
        line-height: 30px;
        font-family: 'Lato', sans-serif;
        text-align: left;
        
    }

    .form{
        width: 100%;
        padding-top: 19px;
    }

    form > * {
        display: block;
    }

    input,
    textarea,
    form button {
        padding: 12px 15px;
        width: 100%;
        box-sizing: border-box;
        font-family: "Lato", sans-serif;
        border: none;
        border-radius: 5px;
        background-color: #d6564f;
        color: #f0d8d9;
        outline: none;
    }

    input,
    textarea {
        margin-bottom: 12px;
    }

    textarea {
        padding: 11px 15px 13px 14px;
        resize: none;
        max-height: 159px;
    }

    form button {
        padding: 12px 14px 10px;
        width: 100%;
        background-color: transparent;
        color: #f0d8d9;
        border: 1px solid #f0d8d9; 
    }

    ::placeholder{
        font-size: 12px;
        line-height: 22px;
        color: #f48c8f;
    }

    form button:hover {
        cursor: pointer;
        background-color: #f27972;
    }

    #message-block {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #0008;
    }
    
    #message-block.hidden {
        display: none;
    }
    
    #message {
        position: absolute;
        min-width: 250px;
        max-width: 250px;
        padding: 10px 10px;
        background-color: #f06c64;
        top: 25%;
        left: 15%;
        border: 2px solid #d6564f;
        border-radius: 5px;
        text-align: left;
        word-break: break-all;
    }
    
    .text-message {
        max-height: 250px;
        padding-right: 10px;
        overflow-y: scroll;
    }
    
    .text-message::-webkit-scrollbar {
        width: 0;
    }
    
    #message p {
        padding-left: 15px;
        line-height: 30px;
    }
    
    span.messages {
        font-size: 17px;
        font-family: "Lato";
        font-weight: 700;
        color: #f0d8d9;
    }
    
    .message-block-btn {
        width: 100px;
        height: 30px;
        margin-top: 40px;
        margin-left: 30%;
    }

    .get-a-quote-form-content{
        width: 100%;
    }

    .get-a-quote-form-content-headline{
        margin: 0;
        padding-top: 32px;
        font-family: 'Lato-Black',sans-serif;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: -0.1px;
    }

    .get-a-quote-form-content-descriprion{
        margin: 0;
        padding-top: 10px;
        font-family: 'Lato',sans-serif;
        font-size: 12px;
        line-height: 22px;
        text-align: justify;
        word-spacing: -1px
    }

    .contact{
        margin: 0;
        padding-top: 5px;
        padding-bottom: 42px;
        font-family: 'Lato',sans-serif;
        font-size: 12px;
        line-height: 22px;
    }

    .img{
        align-items: center;
        margin-right: 10px;
    }

    .location{
        padding-left: 3px;
    }

    .small-phone{
    padding-left: 1px;
    }

    .contact a{
        text-decoration: none;
        color: #f0d8d9;
    }

    .contact a img:hover{
        cursor: pointer;
        transform: scale(1.2);
    }

    footer{
        height: 76px;
        background-color: #2d303a;
    }

    .footer-container{
        height: inherit;
        margin-left: 40px;
        margin-right: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .copyright{
        color: #666d89;
        margin-left: 2px;
        font-weight: 300;
        font-size: 12px;
        font-family: 'Lato',sans-serif;
        letter-spacing: -0.1px;
        display: none;
    }

    .footer-social-media{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 152px;
        margin: auto;
    }

    .footer-social-media img:hover{
        cursor: pointer;
        transform: scale(1.2);
    }
}